<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>audiotaste.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF40E34D235F1F9E00CDE31F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF40E366235F1FA000CDE31F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF40E371235F1FA000CDE31F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
